################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/slnx.sqlite-journal
/.vs
/node_modules/node-sass/src/libsass/win
